DATABASE_URL = "mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>"
DB_USERNAME = <username>
DB_PASSWORD = <password>
REDIS_DATABASE_URI = "rediss://default:<password>@<host>:<port>"
# REDIS_HOST = "<host>"
# REDIS_PORT = "<port>"
# REDIS_PASSWORD = "<password>"
SMTP_USER = "example@gmail.com"
SMTP_PORT = "465"
SMTP_PASSWORD = "your-app-password"
SMTP_SERVICE = "gmail"
SMTP_HOST = "smtp.gmail.com"
ACCESS_TOKEN_SECRET = "your-access-token-secret"
REFRESH_TOKEN_SECRET = "your-refresh-token-secret"
